* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
  .nav {
    width: 450px;
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s;
    background-color: #4f4f4f;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav div,
  button,
  input {
    margin: 5px;
  }
  .nav:hover {
    cursor: pointer;
  }
  buttton:hover {
    cursor: pointer;
  }
  .clr {
    height: 35px;
    width: 35px;
    background-color: blue;
    border: 3px solid white;
    transition: transform 0.5s;
  }
  .clr:hover {
    transform: scale(1.2);
  }
  .clr:nth-child(1) {
    background-color: #000;
  }
  .clr:nth-child(2) {
    background-color: red;
  }
  .clr:nth-child(3) {
    background-color: orange;
  }
  .clr:nth-child(4) {
    background-color: blue;
  }
  .clr:nth-child(5) {
    background-color: purple;
  }
  .clr:nth-child(6) {
    background-color: yellowgreen;
  }
  .clr:nth-child(7) {
    background-color: yellow;
  }
  .clr:nth-child(8) {
    background-color: #fff;
  }
  button {
    border: none;
    outline: none;
    padding: 0.6em 1em;
    background-color: #fefbf6;
    color: #2a2a2a;
    padding: 10px 20px;
    width: 45%;
    font-size: 18px;
    border-radius: 5px;
  }
  input[type="color"] {
    width: 60px;
    height: 40px;
  }
  #ageOutputId {
    color: white;
    font-weight: bold;
    font-size: 15pt;
  }
  #ageInputId {
    background: linear-gradient(to right, #a6a6a6 0%, #2b2b2b 100%);
    height: 7px;
    outline: none;
    -webkit-appearance: none;
    cursor: ew-resize;
    border-radius: 5px;
    border: 3px solid white;
    accent-color: white;
  }